.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.534);
  width: 100%;
  padding: 0.9375rem 0;
  z-index: 2;
  transition: transform 0.3s ease-in-out;
  transform: translateY(0);
  &.hidden {
    transform: translateY(-100%);
  }
}

.header__inner {
  display: flex;
  justify-content: space-between;
}

.header__list {
  display: flex;
  align-items: center;
  column-gap: 12.5rem;
  @media (max-width: 1250px) {
    column-gap: 9.375rem;
  }
  @media (max-width: 1080px) {
    column-gap: 6.25rem;
  }
  @media (max-width: 890px) {
    display: none;
  }
}

.header__item {
  border-bottom: 1px solid transparent;
  transition: border-color 0.3s ease;
  &:hover {
    border-color: var(--whiteColor);
  }
}

.header__link {
  color: var(--whiteColor);
  font-size: 1.25rem;
  font-weight: 600;
  font-family: var(--montseratFont);
}

.header__link--contacts {
  background-color: rgb(255, 170, 0);
  border-radius: 20px;
  padding: 0.8125rem 1.25rem;
  transition: transform 0.3s ease-in-out;
  a {
    color: rgb(27, 111, 27);
    font-size: 1.125rem;
    font-weight: 600;
  }
  &:hover {
    transform: scale(1.1);
  }
}

.header__burger {
  display: none;
  width: 50px;
  height: 22px;
  padding-top: 10px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  @media (max-width: 890px) {
    display: flex;
    margin-left: auto;
  }
}
.header__burger span {
  background-color: var(--whiteColor);
  width: 70%;
  height: 2px;
  transform: scale(1);
}

.header__burger::before,
.header__burger::after {
  content: "";
  background-color: var(--whiteColor);
  width: 70%;
  height: 2px;
  position: absolute;
  transition: all 0.3s ease;
}

.header__burger::before {
  top: 0;
}

.header__burger::after {
  bottom: 0;
}

.active.header__burger span {
  transform: scale(0);
}

.active.header__burger::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.active.header__burger::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}
