@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --montseratFont: "Montserrat", sans-serif;
  --robotoFonts: "Roboto", sans-serif;
  --whiteColor: #fff;
  --blackColor: #000;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 400;
}

/* =========================================================================================== */

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--robotoFonts);
  background-color: var(--blackColor);
}

main {
  display: flex;
  flex-direction: column;
  row-gap: 5.625rem;
  @media (max-width: 500px) {
    row-gap: 1.875rem;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  color: var(--whiteColor);
  font-size: 3.125rem;
  text-align: center;
  margin-bottom: 3.125rem;
}
