.footer {
  margin-top: 3.75rem;
  background-color: rgb(16, 16, 55);
  overflow-x: hidden;
}

.footer__inner {
  padding: 1.25rem 0;
}

.footer__content {
  text-align: center;
  color: rgb(255, 170, 0);
  font-size: 1.25rem;
  display: block;
  cursor: pointer;
}
