.scills {
  scroll-margin-top: 100px;
}

.scills__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 3.125rem;
}

.scills__list-item {
  display: grid;
  gap: 1.25rem;
  margin-left: 1.25rem;
  @media (max-width: 430px) {
    margin-left: 0;
  }
}

.scills__list-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.1);
  }
}

.scills__list-name {
  color: var(--whiteColor);
  font-size: 1.875rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
